<header>
  <h1>speakerboxxx/the-love-below</h1>
  <h2>ChatOps management of GitHub notifications</h2>
</header>

<section class="setup">
  <nav>
    <ol class="instrcutions">
      <li class="slack">
        <a href="#slack">
          <%= render partial: "slack-logo" %>
          <span class="title">Slack</span>
        </a>
      </li>

      <li class="github">
        <a href="#github">
          <%= render partial: "github-logo" %>
          <span class="title">GitHub</span>
        </a>
      </li>
    </ol>
  </nav>
  <div id="instructions">
    <ul>
      <li>Teams with different rooms all under one GitHub organization.</li>
      <li>Use chat to route to specific rooms.</li>
    </ul>
    <p class="download">
      <a href="/auth/slack" class="button">Install Speakerboxxx for Slack</a>
    </p>

    <img class="screenshot" alt="ChatOps with Slack, GitHub, and Heroku" src="https://cloud.githubusercontent.com/assets/416727/15088524/336bee40-13aa-11e6-9cf2-707232754ac3.png" />
  </div>
</section>
