<header>
  <h1>speakerboxxx/the-love-below</h1>
  <h2>ChatOps management of GitHub notifications</h2>
</header>

<section class="setup">
  <nav>
    <ol class="instrcutions">
      <li class="slack">
        <a href="/auth/slack">
          <%= render partial: "slack-logo" %>
          <span class="title">Slack</span>
        </a>
      </li>

      <li class="github">
        <a href="/auth/github">
          <%= render partial: "github-logo" %>
          <span class="title">GitHub</span>
        </a>
      </li>
    </ol>
  </nav>
  <div id="instructions">
    <ul>
      <li>Teams with different rooms all under one GitHub organization.</li>
      <li>Use chat to route to specific rooms.</li>
    </ul>
    <p class="download">
      <a href="/install" class="button">Install Speakerboxxx for Slack</a>
    </p>

    <img class="screenshot" alt="ChatOps with Slack and GitHub" src="https://cloud.githubusercontent.com/assets/38/16897654/85ab2bc2-4b6c-11e6-8834-20f3fb8cef56.png" />
  </div>
</section>
